<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 REES46, INC. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
		<tab id="rees46" translate="label" sortOrder="0">
			<label>REES46</label>
		</tab>
		<section id="rees46" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Settings</label>
			<tab>rees46</tab>
			<resource>Rees46_Personalization::settings</resource>
			<group id="auth" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>Rees46\Personalization\Block\Adminhtml\System\Config\Auth</frontend_model>
			</group>
			<group id="login" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<attribute type="expanded">1</attribute>
				<label>Authorization Form</label>
				<comment><![CDATA[To authorize, please log in on rees46.com and copy & paste Store Key and Secret Key from Store Settings (Dashboard > Settings > Store Settings) to the fields below.]]></comment>
                <field id="store_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Key</label>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>
                <field id="button" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Rees46\Personalization\Block\Adminhtml\System\Config\LoginButton</frontend_model>
                </field>
			</group>
			<group id="register" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
				<attribute type="expanded">1</attribute>
				<label>Registration Form</label>
				<comment><![CDATA[To register, please fill out the form below. Authorization, in this case, is performed automatically.]]></comment>
                <field id="email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                    <backend_model>Rees46\Personalization\Model\Config\Backend\Register\Email</backend_model>
                </field>
                <field id="phone" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Phone Number</label>
                    <backend_model>Rees46\Personalization\Model\Config\Backend\Register\Phone</backend_model>
                </field>
                <field id="first_name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>First Name</label>
                    <backend_model>Rees46\Personalization\Model\Config\Backend\Register\FirstName</backend_model>
                </field>
                <field id="last_name" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Last Name</label>
                    <backend_model>Rees46\Personalization\Model\Config\Backend\Register\LastName</backend_model>
                </field>
				<field id="country_code" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Country</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<backend_model>Rees46\Personalization\Model\Config\Backend\Register\Country</backend_model>
				</field>
				<field id="category" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Product Category</label>
					<source_model>Rees46\Personalization\Model\Config\Source\Api\Category</source_model>
				</field>
                <field id="button" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Rees46\Personalization\Block\Adminhtml\System\Config\RegisterButton</frontend_model>
                </field>
			</group>
			<group id="help" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
				<attribute type="expanded">1</attribute>
				<frontend_model>Rees46\Personalization\Block\Adminhtml\System\Config\Help</frontend_model>
			</group>
			<group id="general" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
				<attribute type="expanded">1</attribute>
				<label>General</label>
                <field id="store_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Key</label>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>
                <field id="order_created" translate="label" type="multiselect" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Created Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="order_completed" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Completed Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="order_cancelled" translate="label" type="multiselect" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cancelled Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <!--field id="xml_currency" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Сurrency</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                    <backend_model>Rees46\Personalization\Model\Config\Backend\General\Currency</backend_model>
                </field-->
                <field id="cron_status" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron XML</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="log_status" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
			</group>
			<group id="recommendations" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
				<attribute type="expanded">1</attribute>
				<label>Product Recommendations Blocks</label>
			</group>
			<group id="actions" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
				<attribute type="expanded">1</attribute>
				<label>Actions</label>
                <field id="table" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Rees46\Personalization\Block\Adminhtml\System\Config\Actions</frontend_model>
                </field>
			</group>
		</section>
	</system>
</config>
